<div class="contenedor">
<div class="dropdown">
  <div *ngFor="let category of categories">
  <div class="btn-group-vertical" style="margin-right: 3px">
    <button class="btn btn-secondary dropdown-toggle" style= "margin-right: 15px" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" (click)="searchCategory(category.id)">
      {{ category.name }}
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <button class="dropdown-item" (click)="showPlaylist()">Playlist</button>
      <a class="dropdown-item" (click)="showTrack()">Track</a>
      <a class="dropdown-item" (click)="showVideo()">Video</a>
    </div>
  </div>
</div>
</div>
</div>
<div *ngIf= "isPlaylist == true">
  <h2 style="text-align: center">Playlist</h2>
          <div *ngFor="let play of playlistCategory" class="ml-5">
            
            <div>
              <img src="{{ play.playlist.image }}" >
             </div> 
             <div>
              <label>{{ play.playlist.name }}</label> 
             </div>
             
             <button class= "btn btn-primary" (click)="navegar(play)"> play</button>
            
          </div>
</div>



<div *ngIf= "isTrack == true">
  <div class = "content2">
    <h2 style="text-align: center">Track</h2>
    <div class="btn-group mr-2">
         <div *ngFor="let categorytrack of categoryTrack" class="ml-5">
          <div>
          <img src="{{ categorytrack.track.image }}" >
         </div> 
         <div>
          <label>{{ categorytrack.track.name }}</label> 
         </div> 
          <button class= "btn btn-primary"> Play </button>
      </div>

        </div>
    </div>
  </div>


<div *ngIf= "isVideo == true">
  <div class = "content3">
    <h2>Track</h2>
    <div class="btn-group-vertical btn-block">
         <div *ngFor="let categoryvideo of categoryVideo">
            <button class= "btn btn-primary" >
            {{ categoryvideo.video.name }}
            </button>
        </div>
    </div>
  </div>
</div>


